<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{Title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Create a record" routerLink="/user/login">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button aria-label="List by user" routerLink="/user/clock-in-out">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
