<div class="main-container">
  <mat-card class="in-out-card">
    <mat-card-header>
      <mat-card-title>Marcación</mat-card-title>
      <mat-card-subtitle>Empleados</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="resUserForm">
      <mat-card-content class="form-container">
        <mat-form-field>
          <input matInput placeholder="Código de empleado" [(ngModel)]="resUserEntity.userId" formControlName="userId"
            [class.invalid]="resUserForm.controls['userId'].touched && !resUserForm.controls['userId'].valid">
        </mat-form-field>
        <small class="gene-block"
          *ngIf="resUserForm.controls['userId'].hasError('required') && resUserForm.controls['userId'].touched"
          class="mat-text-warn">
          El código de empleado es requerido.
        </small>
        <small class="gene-block"
          *ngIf="resUserForm.controls['userId'].hasError('minlength') && resUserForm.controls['userId'].touched"
          class="mat-text-warn">
          Se requiere como mínimo 7 caracteres.
        </small>
        <small class="gene-block"
          *ngIf="resUserForm.controls['userId'].hasError('maxlength') && resUserForm.controls['userId'].touched"
          class="mat-text-warn">
          Se requiere como máximo 20 caracteres.
        </small>
      </mat-card-content>
    </form>
    <mat-card-actions>
      <button mat-button color="primary" (click)="save()" [disabled]="!resUserForm.valid">GUARDAR</button>
      <button mat-button color="primary" (click)="search()" [disabled]="!resUserForm.valid">BUSCAR</button>
      <button mat-button color="accent" (click)="clean({})">LIMPIAR</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div class="table-container mat-elevation-z8" *ngIf="dataSource?.length > 0">
  <mat-card class="in-out-card">
    <mat-card-header>
      <mat-card-title>Lista de entradas/salida</mat-card-title>
      <mat-card-subtitle>Empleados</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type | translate}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy/MM/dd h:mm:ss a': '+0000'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</div>